@font-face {
  font-family: "Lato";
  src: url("../font/lato/lato-regular-webfont.eot");
  src: url("../font/lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato/lato-regular-webfont.woff") format("woff"), url("../font/lato/lato-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lato Light";
  src: url("../font/lato/lato-light-webfont.eot");
  src: url("../font/lato/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato/lato-light-webfont.woff") format("woff"), url("../font/lato/lato-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lato Bold";
  src: url("../font/lato/lato-bold-webfont.eot");
  src: url("../font/lato/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato/lato-bold-webfont.woff") format("woff"), url("../font/lato/lato-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lato Black";
  src: url("../font/lato/lato-black-webfont.eot");
  src: url("../font/lato/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato/lato-black-webfont.woff") format("woff"), url("../font/lato/lato-black-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circular";
  src: url("../font/circular/circular-medium-webfont.eot");
  src: url("../font/circular/circular-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/circular/circular-medium-webfont.woff") format("woff"), url("../font/circular/circular-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circular Book";
  src: url("../font/circular/circular-book-webfont.eot");
  src: url("../font/circular/circular-book-webfont.eot?#iefix") format("embedded-opentype"), url("../font/circular/circular-book-webfont.woff") format("woff"), url("../font/circular/circular-book-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circular Bold";
  src: url("../font/circular/circular-bold-webfont.eot");
  src: url("../font/circular/circular-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/circular/circular-bold-webfont.woff") format("woff"), url("../font/circular/circular-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circular Black";
  src: url("../font/circular/circular-black-webfont.eot");
  src: url("../font/circular/circular-black-webfont.eot?#iefix") format("embedded-opentype"), url("../font/circular/circular-black-webfont.woff") format("woff"), url("../font/circular/circular-black-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
* {
  font-family: 'Lato';
  border: 0;
  color: #63717a; }

strong,
b,
th {
  font-family: 'Lato Bold'; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato Black'; }

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

a,
button,
select,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

.btn {
  border: none;
  text-align: left; }
  .btn .fas {
    margin-right: 5px;
    font-size: 14px; }

.badge-primary {
  background-color: #035a93; }

.btn-primary {
  background-color: #035a93; }
  .btn-primary:hover {
    background-color: #023b61; }
  .btn-primary .fas {
    color: #fff; }

.btn-secondary {
  background-color: #ced242;
  color: #141C45; }
  .btn-secondary .fas {
    color: #141C45; }
  .btn-secondary:hover {
    background-color: #bec22e;
    color: #141C45; }

.transition {
  -webkit-transition: all, 0.5s, ease, 0.5s;
  -moz-transition: all, 0.5s, ease, 0.5s;
  -o-transition: all, 0.5s, ease, 0.5s;
  transition: all, 0.5s, ease, 0.5s; }

.slow-transition {
  -webkit-transition: all, 1.5s, ease, 1.5s;
  -moz-transition: all, 1.5s, ease, 1.5s;
  -o-transition: all, 1.5s, ease, 1.5s;
  transition: all, 1.5s, ease, 1.5s; }

.no-transition {
  -webkit-transition: all, 0s, ease, 0s;
  -moz-transition: all, 0s, ease, 0s;
  -o-transition: all, 0s, ease, 0s;
  transition: all, 0s, ease, 0s; }

#login {
  width: 100%;
  height: 100%;
  background-color: #63b2db;
  position: absolute; }
  #login input {
    width: calc(100% - 50px);
    line-height: 50px;
    height: 50px;
    float: left;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  #login button {
    background: #ced242;
    width: 100%;
    height: 50px; }
  #login .login-help {
    margin-top: 1rem; }
    #login .login-help a {
      color: #fff; }

@media screen and (min-width: 1px) and (max-width: 576px) {
  #login {
    width: 100%;
    height: 100%;
    background-color: #63b2db;
    position: absolute; }
    #login #brand {
      background-size: cover;
      width: 160px;
      height: 110px;
      margin: 15px auto; } }

/*# sourceMappingURL=login.css.map */
